@import "./variables.css";
@import "./animation.css";
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

body {
  background: var(--background-color, #111e31);
}

span{
    position: absolute;
    white-space: nowrap;
    color: var(--text-color-dark, #db395f);
    font-family: 'New Tegomin', serif;
    font-size: 1rem;
    font-style: normal;
    /* text-shadow: 0 0 4px #ff69b4, 0 0 8px #ff1493; */
    offset-path: path("M 250 140 C 250 40, 410 40, 410 180 C 410 300, 250 400, 250 430 C 250 400, 90 300, 90 180 C 90 40, 250 40, 250 140 Z");
    offset-distance: calc(var(--i) * 6%);
    offset-rotate: 0deg;
    animation: follow var(--follow-duration, 60s) infinite alternate ease-in-out;
}

.heart-container {
    position: relative;
    transform: scale(1.5);
    transform-origin: center;
}